.idea/
node_modules/
migrations/
build/
coverage/
types/truffle-contracts/
*/**/*.js
coverage.json
.secret
.secrets.*.json
artifacts/
cache/
crytic-export/
typechain/
contracts/test/UltiCrowdsaleTestnet.sol
